body {
    text-align:center;
    display: inline-block;
    border: 150px;
}
button {
    border-radius: 2px;
    width: 250px;
    color: green
}
input{
    font-family: Cambria;
    font-size: 14px;
}
div {
    text-align: center;
    padding: 20px;
}