* {
    margin:0;
    padding:0;
    font-family: Cambria, 'Times New Roman', Times, serif;
}

input, input:before, input:after {
    -webkit-user-select: initial;
    -khtml-user-select: initial;
    -moz-user-select: initial;
    -ms-user-select: initial;
    user-select: initial;
}

html {
    height: 100%;
    width: 100%;
}
#navBar{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
}
.navBarH {
    display: inline;
}
.navBarIcons{
    width: 12%;
    height: 12%;
    margin-top: 0.5vh;
    margin-bottom: 0.5vh;
    border-right: 1vw;
    border-left: 1vw;
}