* {
    margin:0;
    padding:0;
    font-family: Cambria, 'Times New Roman', Times, serif;
}

input, input:before, input:after {
    -webkit-user-select: initial;
    -khtml-user-select: initial;
    -moz-user-select: initial;
    -ms-user-select: initial;
    user-select: initial;
}

html {
    height: 100%;
    width: 100%;
}
#navBar{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
}
.navBarH {
    display: inline;
    padding: 0;
}
.navBarIcons{
    width: 12%;
    height: 12%;
    margin-top: 0.5vh;
    margin-bottom: 0.5vh;
    margin-right:0;
    margin-left: 0;
    padding: 1.5vw;
}
.calendar{
    display: inline-block;
    text-align: center;
    /*put more tingz here?*/
}
.dark-mode{
    background-color: black;
    color:white;
}