html{
    text-align:center;
}
body {
    display: inline-block;
    width: 100%;
    height: 100%;
}
#addIcon{
    width: 40%;
    height: 25%;    
}
#addVital{
    display: block;
    background-color: white;
    width: 40vw;
    height: 30vh;
    border-radius: 25px;
    border-width: 1vw;
    border-color: grey;
    border-style: solid;
    border-width: thin;
    margin-left: 6vw;
}
#vitalsCalendar{
    padding-right: 2vw;
    padding-left: 2vw;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    border-radius: 25px;
    border-style: solid;
    margin-bottom: 1vh;
}
#changeView{
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    padding-right: 1vw;
    padding-left: 1vw;
    border-radius: 25px;
    border-style: solid;
}
.verticalBtns{
    text-align: right;
    display: block;
    padding-right: 4vw;
}
h1 {
    font-size: 5vh;
}
#left {
    float: left;
    position: absolute;
    width: 40vw;
    height: 4vh;
    text-align: left;
    padding-left: 6vw;
    padding-top: 1.5vh;
}

#right {
    position: relative;
    text-align: right;
    margin-left: 70%;
    padding-top:1vh;
    margin-bottom: 3vh;
}
#dayOfWeek{
    float: left;
    padding-left: 6vw;
    font-size: 4vw;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 3vh;
}
#date{
    margin-left: 65%;
    font-size: 4vw;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: none;
    margin-bottom: 3vh;
}

#addVitalsPage{
    display: none;
    width: 100%;
}
#addTitle{
    margin-top: 2vh;
    margin-bottom: 2vh;
    background-color: skyblue;
    color: white;
    padding-left: 3vw;
    padding-right: 3vw;
    padding-top: 2vw;
    padding-bottom: 2vw;
    margin-left: 15%;
    margin-right: 15%;
    border-radius: 25px;
}
.inv{
    display: none;
}
.vis{
    display: block;
}
#vitalChoice{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 1vw;
}
#dropdown{
    text-align: left;
    padding-left: 5vw;
    padding-bottom: 3vw;
}
.moodIcons{
    text-align: center;
}